<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200"
    rel="stylesheet">
<title>Reminder</title>
</head>
<body  layout:fragment="content">
    <!-- 현재 날씨 출력 -->
    <span class="js-weather  display-4 text-white"></span>
    <!-- 현재시간 출력 -->
    <div class="js-clock">
        <h1 class="clock display-1 text-center text-white ">00:00</h1>
    </div>
    <h1 th:if="${session.ID} == null"  class="text-white text-center">Please Login!</h1>
    <h1 th:unless="${session.ID} == null" th:text="${session.userName}" class="text-center text-white"></h1>
    <form action="https://www.google.com/search" method="GET" target="_blank" th:unless="${session.ID} == null">
        <!-- Google 검색창 -->
        <div
            class="mx-auto mt-5 search-bar input-group mb-3 text-center form-group-lg"
            style="width: 500px;">
            <input name="q" type="text"
                class="form-control rounded-pill input-sm"
                placeholder="Google Search"/>
        </div>
    </form>

    <form class="text-center mx-auto" style="width: 400px;"
        action="/Reminder/create" method="post" th:unless="${session.ID} == null">
        <!-- TodoList 입력 -->
        <input type="text" placeholder=" Write here!"
            class="form-input text form-control rounded-pill input-sm"
            name="todoinput" />
    </form>

    <ul class="text-center text-light">
       <li  th:each="todos : ${todoList}" th:if="${session.ID} != null">
          <h3  style="display: inline-block" th:text="${todos.TodoContent}"></h3>
          <a class="text-danger" th:href="@{/Reminder/todoDelete/{TodoID} (TodoID=${todos.TodoID})}">
            <i class="fas fa-trash-alt fa-lg"></i>
         </a>
       </li>
    </ul>




    <script src="/assets/js/Clock.js"></script>
    <script src="/assets/js/Weather.js"></script>
    <link rel="stylesheet" href="/assets/css/backImage.css">
</body>
</html>