<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/config :: configFragment">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link href="/assets/css/signin.css" rel="stylesheet" />
<style>
.login_container{
    width: 500px;
    height: 550px;
    margin: auto;
    border-radius: 30px;
    background-color : white;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
</style>
<body class="text-center">
<div class ="login_container">
  <form class="form-signin" action="/Reminder/accountProc" method="post">
  <h1 class="h3 mb-3 font-weight-normal">With Us</h1>
  <label for="inputtext" class="sr-only">ID</label>
  <input type="text" id="id" class="form-control" placeholder="id" name = "userID" required>
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="Password" class="form-control" placeholder="Password"  name="userPassword"required>
  <br>
  <label for="inputPassword_valid" class="sr-only">Password_valid</label>
  <input type="password" id="password_valid" class="form-control" placeholder="Password_valid" required>
  <br>
  <label for="inputtext" class="sr-only">Name</label>
  <input type="text" id="username" class="form-control" placeholder="name" name ="userName" required>
  <br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="account" class="form-control" placeholder="Email address" name="userMail" required autofocus>
  <br>
  <button class="btn btn-lg btn-danger btn-block" type="submit">Create Account</button>
  <p><strong>Already have an account?<a href="/Reminder/loginForm">Turn back</a></strong>
  <p class="mt-5 mb-3 text-muted">&copy; 2020 John</p>
</form>
</div>
    <!-- 유효성 검사  -->
    <script type="text/javascript">
    var id = document.getElementById("id").value;
    var password = document.getElementById("password").value;
    var password_valid = document.getElementById("password_valid").value;
    var username = document.getElementById("username").value;
    var account = document.getElementById("account").value;

    //정규표현식
    var idReg = /^[a-z][a-z0-9]{5,11}$/g;
    var num = password.search(/[0-9]/g);
    var eng = password.search(/[a-z]/ig);
    var spe = password.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
    var usernameReg = /^[가-힣]{2,4}$/g;
    var accountReg = /^[0-9]{5,30}$/g;


    if(!idReg.test(id)){
       alert("유효하지 않은 아이디입니다.");
       return false;
    }

    if(password.length < 8 || password.length > 20){
        alert("8자리 ~ 20자리 이내로 입력해주세요.");
       return false;
    }else if(password.search(/\s/) != -1){
        alert("비밀번호는 공백 없이 입력해주세요.");
         return false;
    }else if(num < 0 || eng < 0 || spe < 0 ){
         alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
         return false;
    }

    if(password != password_valid){
       alert("비밀번호가 같은지 확인해주세요.");
       return false;
    }


    if(!usernameReg.test(username)){
       alert("이름을 확인해주세요.");
       return false;
    }


    </script>
</body>
</html>